h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#prompt{
    width: 500px;
    height: 100px;
}

#imageUpload{
    border: solid blue ;
    padding: 5px;
    padding-left: 10px;
    border-radius: 25px;
}

.test1{
    display: flex;
    gap: 20px;
}